# you shouldn't commit these into source control
# these are the default directory names, adjust/add to fit your needs
target/
dbt_packages/
logs/
data/
.DS_Store
analysis/20_customer_journey.ipynb
analysis/21_test_abandonment_domain.ipynb
analysis/22_test_abandonment_ranked_bar.ipynb
